# Archivos compilados de Java
*.class
*.jar
*.war

# NetBeans
/nbproject/private/
/build/
/dist/
/nbproject/build-impl.xml
/nbproject/genfiles.properties

# Archivos de configuración local
/config.properties
*.config

# Logs
*.log

# Sistema operativo
.DS_Store
Thumbs.db

# Base de datos
*.db
*.sqlite